USE [ADMIN_2]
GO
/****** Object:  Table [dbo].[Auction04]    Script Date: 27.3.2026. 19:13:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction04](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[auction_name] [nvarchar](50) NOT NULL,
	[cena] [int] NOT NULL,
	[vreme] [int] NULL,
	[pobednik] [nvarchar](50) NOT NULL,
	[VremePoslednjeAukcije] [datetime] NULL,
	[trenutni] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Auction04] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 27.3.2026. 19:13:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[is_admin] [bit] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([id], [first_name], [last_name], [is_admin]) VALUES (1, N'Paka', N'Paka', 1)
INSERT [dbo].[Person] ([id], [first_name], [last_name], [is_admin]) VALUES (2, N'Maki', N'Maki', 0)
SET IDENTITY_INSERT [dbo].[Person] OFF
